
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= f.error_notification %>

<!-- <div class="form-inputs"> -->
  <div class="devise-new tab">
    <h2>Contact Information</h2>
    <%= f.input :name, label: 'Full Name or Company Name:',
    placeholder: "Gavin Belson OR Hooli Inc.",
    autofocus: true %>
    <%= f.input :cpf_cnpj, label: "CPF/CNPJ" %>
    <%= f.input :phone,
    placeholder: '12345-1234'%>
    <p id="step-btn" class="btn btn-primary btn-block">NEXT</p>
  </div>

  <div class="devise-new tab hidden">
    <h2>Sign up Information</h2>
    <%= f.input :email,
    placeholder: "gavin.belson@hooli.com",
    required: true,
    input_html: { autocomplete: "email" }%>
    <%= f.input :password,
    required: true,
    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
    input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
    required: true,
    input_html: { autocomplete: "new-password" } %>
    <%= f.button :submit, class: "btn btn-primary btn-block", value: "CREATE USER" %>
  </div>

<!-- Passos do Form (current e next/prev): -->
<div style="text-align:center;margin-top:40px;">
  <a class="step active"></a>
  <a class="step"></a>
</div>

<% end %>
<div class="devise-links">
  <%= render "devise/shared/links" %>
</div>
