<div class="header-title">
  <h2> Due-Diligence Plataform</h2>
  <p class="header-subtitle"> <em> Due-Diligence Submission for: <span class="header-span"> <%= @npl.name %> </span> </em></p>
</div>
<div class="container">
  <div class="dd-edit-content">
    <%= link_to icon('fas', 'arrow-left'), due_diligences_path, class: "arrow-back" %>
    <div class="d-flex justify-content-center mx-3">
      <div class="flex-grow-1">
        <div class="text-center d-flex justify-content-around">
          <div class="dd-documents document col-md-3">
            <h4 class="text-center">CONTRACT DOCUMENTS</h4>
            <%= link_to @dd.contract_document.url, target: '_blank' do%>
              <%=  cl_image_tag @dd.contract_document.url(:thumnail), :quality=>47, :width=>100, :crop=>"scale" %>
            <% end %>
          </div>
          <div class="dd-documents document col-md-3">
            <h4 class="text-center">COLLATERAL DOCUMENTS</h4>
            <%= link_to @dd.collateral_document.url, target: '_blank' do%>
              <%=  cl_image_tag @dd.collateral_document.url(:thumnail), :quality=>47, :width=>100, :crop=>"scale" %>
            <% end %>
          </div>
          <div class="dd-documents document col-md-3">
            <h4 class="text-center">OTHER DOCUMENTS</h4>
            <%= link_to @dd.other_document.url, target: '_blank' do%>
              <%=  cl_image_tag @dd.other_document.url(:thumnail), :quality=>47, :width=>100, :crop=>"scale" %>
            <% end %>
          </div>
        </div>

        <div class="dd-chat">
          <h3 class="text-center chat-title">Message Board</h3>
          <%= render 'messages/messages', messages: @messages %>
          <%= render 'messages/form', npl: @npl, dd: @dd, message: @message %>
        </div>

      </div>

      <div id="separator-lg"></div>

      <div class="col-md-3 mx-3">
        <h4 class="text-center mb-4">CHECK-LIST</h4>
        <%= render 'shared/form_dd' %>
      </div>
    </div>
  </div>
</div>