<div class="container">
  <div class="dd-new-content">
    <h2> Due-Diligence Plataform</h2>
    <p class="dd-subtitle"> <strong>Due-Diligence of:</strong> <span class="npl-dd"> <%= @npl.name %> </span> </p>
    <ul id="progressbar">
      <li class="active1"><strong>Upload Documents</strong></li>
      <li class="active2"><strong>Analizing Documents</strong></li>
      <li class="active3"><strong>Due Diligence Finalized</strong></li>
    </ul>
      <div class="dd-doc-list">
        <%= simple_form_for [@npl, @dd] do |f| %>
          <div class="col-md-6">
              <tr> <%= f.input :contract_document %> </tr>
              <tr> <%= f.input :collateral_document %> </tr>
              <tr> <%= f.input :other_document %> </tr>
          <div>
          <%= f.submit "Add the documents", class: "btn btn-primary btn-block btn-lg" %>
        <% end %>
      </div>
  </div>
</div>
