\<div class="container">
  <div class="dd-new-content">
    <h2> Due-Diligence Plataform</h2>
    <p class="dd-subtitle"> <strong> Due-Diligence of: </strong> <span class="npl-dd"> <%= @npl.name %> </span> </p>
    <ul id="progressbar2">
      <li class="active1"> <strong>Upload Documents</strong></li>
      <li class="active2"> <strong>Analizing Documents</strong></li>
      <li class="active3"> <strong>Due Diligence Finalized</strong></li>
    </ul>
      <div class="dd-doc-list">
        <div class="col-md-6">
          <%= link_to @dd.contract_document.url do%>
            <%=  cl_image_tag @dd.contract_document.url(:thumnail), :quality=>47, :width=>100, :crop=>"scale" %>
          <% end %>
          <%= link_to @dd.collateral_document.url do%>
            <%=  cl_image_tag @dd.collateral_document.url(:thumnail), :quality=>47, :width=>100, :crop=>"scale" %>
          <% end %>
          <%= link_to @dd.other_document.url do%>
            <%=  cl_image_tag @dd.other_document.url(:thumnail), :quality=>47, :width=>100, :crop=>"scale" %>
          <% end %>
        </div>
      </div>
  </div>
</div>
