<!-- <div class="container">
  <h1>Bids pelo <%= @npl.name %> </h1>
  <h3> Valor face: <%= @npl.book_value %> </h3>
  <h3> Cedente: <%= @npl.user.name %> </h3>

  <ol>
    <% @bids.each do |bid| %>
      <li> Bidder: <%= bid.user.name %> <br>
      Valor do Bid: <%= link_to bid.value, bid_path(bid) %> <br>
    <% end %>
  </ol>

  <%= link_to 'Voltar para todos NPLs', npls_path, class: "btn btn-primary" %>
</div> -->


