<style>
  h1, h2, h3, p {
font-family: sans-serif;
  }
</style>


<h1> <%= @bid.npl.user.name %>, you have just received a Bid on your NPL <%= @bid.npl.name %> from <%= @bid.user.name %> at Yield website</h1>

<p>You are receiveing this e-mail because the following Bid was submited on your NPL:</p>

<ul>
  <li>NPL Name: <%= @bid.npl.name %></li>
  <li>Minimun Value: <%= number_to_currency(@bid.npl.min_value, unit:"R$", separator: ",", delimiter: ".") %></li>
  <li>Auction Date: <%= @bid.npl.auction_date %> </li>
  <br>
  <li>Bidder: <%= @bid.user.name %></li>
  <li>Bid: <%= number_to_currency(@bid.value, unit:"R$", separator: ",", delimiter: ".") %></li>
</ul>


<%= link_to "Get back to our website", root_url  %>


<p>Kind regards,</p>
<p>The Yield team</p>

