<div class="form-dd">
  <%= simple_form_for [@npl, @dd] do |f|%> 
    <%= f.input :debtor_valid, as: :boolean, label: "Debtor Validation"%>
    <%= f.input :npl_type_valid, as: :boolean, label: "NPL Type Validation" %>
    <%= f.input :maturity_date_valid, as: :boolean, label: "Maturity Date Validation" %>
    <%= f.input :collateral_description_valid, as: :boolean, label: "Collateral Validation" %>
    <%= f.input :guarantor_valid, as: :boolean, label: "Guarantor Validation" %>
    <%= f.input :book_value_valid, as: :boolean, label: "Book Value Validation" %>
    <%= f.input :legal_opinion, class: "legal" %>
    <%= f.submit "SUBMIT", class: "btn btn-block btn-npl" %>
  <% end %>
</div>