<div class="form-dd" id="form-dd">
  <%= simple_form_for [@npl, @dd] do |f|%> 
    <%= f.input :debtor_valid, as: :boolean, label: "Debtor Validation"%>
    <%= f.input :npl_type_valid, as: :boolean, label: "NPL Type Validation" %>
    <%= f.input :maturity_date_valid, as: :boolean, label: "Maturity Date Validation" %>
    <%= f.input :collateral_description_valid, as: :boolean, label: "Collateral Validation" %>
    <%= f.input :guarantor_valid, as: :boolean, label: "Guarantor Validation" %>
    <%= f.input :book_value_valid, as: :boolean, label: "Book Value Validation" %>
    <%= f.input :legal_opinion %>
    <div class="hidden">
        <%= f.input :finished, as: :boolean, checked_value: true, unchecked_value: false, default: false %>
    </div>
    <button type="submit" name="commit" class="btn btn-block btn-npl">
      <i class="fas fa-save"></i> &nbsp;SAVE
    </button>
    <button type="submit" name="commit" class="btn btn-block btn-npl btn-dd-finish" id="due-diligence-finish">
      <i class="fas fa-check-square"></i>&nbsp;SUBMIT
    </button>
  <% end %>
</div>