<div class="form-dd">
  <%= simple_form_for [@npl, @dd] do |f|%>
    <%= f.input :debtor_valid, as: :boolean %>
    <%= f.input :npl_type_valid, as: :boolean %>
    <%= f.input :maturity_date_valid, as: :boolean %>
    <%= f.input :collateral_description_valid, as: :boolean %>
    <%= f.input :guarantor_valid, as: :boolean %>
  <% end %>
</div>