<div class="cockpit">
  <!-- sidebar -->
  <div id="sidebar">
    <%= link_to icon('fas', 'user'), "#", class: "sidebar-icon user-icon" %>
    <%= link_to icon('fas', 'chart-pie'), "#", class: "sidebar-icon pie-chart" %>
    <%= link_to icon('fas', 'wallet'), "#", class: "sidebar-icon wallet" %>
  </div>
  <!-- content -->
  <div class="cockpit-content flex-grow-1">

    <!-- cards -->
    <div class="cockpit-cards py-3">

      <!-- user-info -->
      <div class="row m-0">
        <div class="col-xs-12 col-sm-3">
          <div class="cockpit-card user-info">
            <h2>PERSONAL INFORMATION</h2>
            <%= simple_form_for(@user, as: @user, url: registration_path(@user), html: { method: :put }) do |f| %>
            <%= f.error_notification %>
            <div class="form-inputs" id="cockpit-form">
              <%= f.input :name, autofocus: true, required: false %>
              <%= f.input :cpf_cnpj, label: "CPF/CNPJ", required: false %>
              <%= f.input :phone, required: false%>
              <%= f.input :email, required: false %>
            </div>
            <div class="form-actions">
              <%= f.button :submit, "Update info", class: "btn btn-npl btn-block" %>
            </div>
            <% end %>
          </div>
        </div>

        <!-- Bids won -->
        <div class="col-xs-12 col-sm-9">
          <div class="cockpit-card bids-won">
            <h2>YOUR EXPOSURE DATA</h2>
           <%= render "shared/chart", user: @user, npls: @npls %>
         </div>
       </div>
     </div>

     <!-- selling NPLs -->
     <div class="row m-0 mt-3">
      <div class="col-xs-12 col-sm-6">
        <div class="cockpit-card">
          <h2>YOUR NPL OFFERS</h2>
          <div class="npl-selling d-flex">
            <% @npls.each do |npl| %>
              <div class="npl-card-selling mx-2 p-3">
                <h3><%= link_to npl.name, npl_path(npl) %></h3>
                <ul class="card-text">
                  <li><strong>Asset Type:&nbsp;&nbsp;</strong> <%= npl.npl_type %></li>
                  <li><strong>Book value:&nbsp;&nbsp;</strong><%= number_to_currency(npl.book_value, unit:"R$", separator: ",", delimiter: ".") %></li>
                  <li><strong>Minimum Value:&nbsp;&nbsp;</strong><%= number_to_currency(npl.min_value, unit:"R$", separator: ",", delimiter: ".") %></li>
                  <li><strong>Collateral:&nbsp;&nbsp;</strong><%= npl.collateral_description %></li>
                </ul>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <!-- open bids in NPLs -->
      <div class="col-xs-12 col-sm-6">
        <div class="cockpit-card npl-bidding">
          <h2>YOUR OPEN BIDS</h2>
          <table class="table text-nowrap">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Bid Value</th>
                    <th>NPL name</th>
                    <th>Asset Type</th>
                    <th>Bid Date</th>
                </tr>
            </thead>
            <tbody>
              <% @bids.each_with_index do |bid, index| %>
                <tr>
                    <th scope="row"><%= index + 1 %></th>
                    <td><%= number_to_currency(bid.value, unit:"R$", separator: ",", delimiter: ".") %></td>
                    <td><%= bid.npl.name %></td>
                    <td><%= bid.npl.npl_type %></td>
                    <td><%= bid.created_at.strftime("%d/%m/%Y")%></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<%= render 'shared/footer' %>
