<div class="cockpit">
  <!-- sidebar -->
  <div id="sidebar">
    <%= link_to icon('fas', 'user'), "#", class: "sidebar-icon user-icon" %>
    <%= link_to icon('fas', 'chart-pie'), "#", class: "sidebar-icon pie-chart" %>
    <%= link_to icon('fas', 'wallet'), "#", class: "sidebar-icon wallet" %>
  </div>
  <!-- content -->
  <div class="cockpit-content flex-grow-1">

  <div class="row py-3">
    <!-- /.dashboard-stat -->
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <a class="dashboard-stat bg-primary" href="#">
        <span class="counter"><%= number_to_currency(@user.npls.where(auctioned: true).sum(:book_value) / 1000000, unit: "R$ ",separator: ",", delimiter: ".") %> M </span>
        <span class="name">NPLs Sold</span>
      </a>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <a class="dashboard-stat bg-danger" href="#">
          <span class="counter"><%= number_to_currency(@user.npls.where(auctioned: false).sum(:book_value) / 1000000, unit: "R$ ",separator: ",", delimiter: ".") %> M </span>
          <span class="name">NPLs Avaliable</span>
      </a>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <a class="dashboard-stat bg-warning" href="#">
          <span class="counter"><%= number_to_currency(@bids_winner_sum / 1000000 , unit: "R$ ",separator: ",", delimiter: ".") %> M </span>
          <span class="name">Recovery</span>
      </a>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <a class="dashboard-stat bg-success" href="#">
          <span class="counter"><%= (((@bids_winner_sum / @user.npls.where(auctioned: true).sum(:book_value))) * 100).round(1)%> % </span>
          <span class="name">Recovery Rate</span>
      </a>
    </div>

    </div>
    <!-- cards -->
    <div class="cockpit-cards">

      <!-- user-info -->

    <div class="row m-0 mt-3">
      <div class="cockpit-card user-info col-xs-12 col-sm-3 mx-3">
        <h2>PERSONAL INFORMATION</h2>
          <div class="inputs" id="cockpit-form">
          <spam class="name-info"> <strong> <%= @user.name %> </strong> </spam> <br>
          <spam class="cpf_cnpj-info"> <strong> CPF/CNPJ: </strong>
            <% if @user.cpf_cnpj.size <= 11 %>
              <%= CNPJ.new(@user.cpf_cnpj.to_s).formatted %>
            <% else %>
              <%= CPF.new(@user.cpf_cnpj.to_s).formatted %>
            <% end %>
            <br>
            <br>
          <%= simple_form_for(@user, as: @user, url: registration_path(@user), html: { method: :put }) do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs" id="cockpit-form">
            <%= f.input :phone, required: false%>
            <%= f.input :email, required: false %>
        </div>
        <br>
      </div>
      <div class="form-actions">
          <%= f.button :submit, "Update info", class: "btn btn-npl btn-block" %>
          <% end %>
      </div>
    </div>
      <!-- Bids won -->
      <div class="flex-grow-1 mx-3">
        <div class="cockpit-card bids-won">
          <h2>YOUR EXPOSURE DATA</h2>
        <div id="traffic-chart" class="op-chart"></div>
         <%= render "shared/chart", user: @user, npls: @npls %>

       </div>
    </div>


  </div>

     <!-- selling NPLs -->
     <div class="row m-0 mt-3">
      <div class="col-xs-12 col-sm-6">
        <div class="cockpit-card">
          <h2>YOUR NPL OFFERS</h2>
          <div class="npl-selling d-flex">
            <% @user.npls.each do |npl| %>
            <!-- if npl sold -->
              <% if npl.auctioned? == true %>
                <div class="npl-card-selling-sold mx-2 p-3">
                  <h3><%= link_to npl.name, npl_path(npl) %></h3>
                  <ul class="card-text">
                    <li><strong>Asset Type:&nbsp;&nbsp;</strong> <%= npl.npl_type %></li>
                    <li><strong>Book value:&nbsp;&nbsp;</strong><%= number_to_currency(npl.book_value, unit:"R$", separator: ",", delimiter: ".") %></li>
                    <li><strong>Minimum Value:&nbsp;&nbsp;</strong><%= number_to_currency(npl.min_value, unit:"R$", separator: ",", delimiter: ".") %></li>
                    <li><strong>Collateral:&nbsp;&nbsp;</strong><%= npl.collateral_description %></li>
                  </ul>
                  <span class="badge badge-primary">Sold</span>
                </div>
            <!-- else npl sold -->
              <% else %>
                <div class="npl-card-selling-avaliable mx-2 p-3">
                  <h3><%= link_to npl.name, npl_path(npl) %></h3>
                  <ul class="card-text">
                    <li><strong>Asset Type:&nbsp;&nbsp;</strong> <%= npl.npl_type %></li>
                    <li><strong>Book value:&nbsp;&nbsp;</strong><%= number_to_currency(npl.book_value, unit:"R$", separator: ",", delimiter: ".") %></li>
                    <li><strong>Minimum Value:&nbsp;&nbsp;</strong><%= number_to_currency(npl.min_value, unit:"R$", separator: ",", delimiter: ".") %></li>
                    <li><strong>Collateral:&nbsp;&nbsp;</strong><%= npl.collateral_description %></li>
                  </ul>
                  <span class="badge badge-danger">Avaliable</span>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

      <!-- open bids in NPLs -->
      <div class="col-xs-12 col-sm-6">
        <div class="cockpit-card npl-bidding">
          <h2>YOUR OPEN BIDS</h2>
          <table class="table text-nowrap">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Bid Value</th>
                    <th>NPL name</th>
                    <th>Asset Type</th>
                    <th>Bid Date</th>
                </tr>
            </thead>
            <tbody>
              <% @bids.each_with_index do |bid, index| %>
                <tr>
                    <th scope="row"><%= index + 1 %></th>
                    <td><%= number_to_currency(bid.value, unit:"R$", separator: ",", delimiter: ".") %></td>
                    <td><%= bid.npl.name %></td>
                    <td><%= bid.npl.npl_type %></td>
                    <td><%= bid.created_at.strftime("%d/%m/%Y")%></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
