<div class="banner home">
  <div class="image-banner">
    <div class="container">
      <h1>Welcome to the Yield Digital Platform</h1>
      <p>Empowering the Brazilian Distressed Credit Market.</p>
      <br>
      <div class="buttons d-flex justify-content-around">
        <% if current_user %>
          <%= link_to "NEW NPL OFFER", new_npl_path, class: "btn btn-lg" %>
        <% else %>
          <%= link_to "SIGN UP", new_user_registration_path, class: "btn btn-lg" %>
        <% end %>
        <%= link_to "NPL OFFERS", npls_path, class: "btn btn-lg" %>
      </div>
    </div>
  </div>
</div>
<div class="steps">
  <div class="cards d-flex justify-content-around">
    <div class="number order1 text-white"><h2>1</h2></div>
    <div class="card">
      <div class="card-image">
        <%= image_tag "user_profile.jpg" %>
      </div>
      <h3>Submit your user profile!</h3>
      <p>Fill in our form for new users and get the full experience of our Platform.</p>
    </div>
    <div class="number order2 text-white" ><h2>2</h2></div>
    <div class="card">
      <div class="card-image">
        <%= image_tag "user_sell.jpg" %>
      </div>
      <h3>Setup and Bid NPL Offers</h3>
      <p>Add essential and additional information for your offerings and enjoy instant biddings.</p>
    </div>
    <div class="number order3 text-white" ><h2>3</h2></div>
    <div class="card">
      <div class="card-image">
        <%= image_tag "user_dashboard.jpg" %>
      </div>
      <h3>Control your Bids, Sells and Exposure</h3>
      <p>Enjoy personalized tools that measure your offers and bids as well as other essential information.</p>
    </div>
  </div>
</div>
  <div class="yield-description">
    <div class="container">
      <h2>What is Yield?</h2>
      <br>
      <p>Yield is an online marketplace which allows companies, banks and funds to sell their illiquid credit exposures and non-performing loans ("NPLs") on the market through its auction-based online transaction platform to specialized investors.</p>
    </div>
  </div>
<div class="steps text-center">
  <h3>Performance Highlights</h3>
  <div class="container">
    <div class="cards d-flex justify-content-around">
      <div class="card text-center">
         <h2> <%= number_to_currency(@npls_sold_sum / 1000000, unit: "R$ ",separator: ",", delimiter: ".") %> M </h2>
         <p>NPLs sold</p>
      </div>
      <div class="card text-center">
         <h2> <%= @npls_sold %></h2>
         <p> Succesful transactions <br> since inception</p>
      </div>
      <div class="card text-center">
         <h2> <%= @npls_available %></h2>
         <p> Number of current NPLs available</p>
      </div>
      <div class="card text-center">
         <h2> <%= @users_registered %> </h2>
         <p> Number of registered users </p>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
