<div class="banner home">
  <div class="image-banner">
    <div class="container">
      <h1>Welcome to the Yield Digital Platform</h1>
      <p>Empowering the Brazilian Distressed Credit Market.</p>
      <br>
      <div class="buttons d-flex justify-content-around">
        <% if current_user && current_user.lawyer %>
          <%= link_to "AVAILABLE DUE DILIGENCES", due_diligences_path, class: "btn btn-lg" %>
        <% elsif current_user %>
          <%= link_to "NEW NPL OFFER", new_npl_path, class: "btn btn-lg" %>
        <% else %>
          <%= link_to "SIGN UP", new_user_registration_path, class: "btn btn-lg" %>
        <% end %>
        <%= link_to "NPL OFFERS", npls_path, class: "btn btn-lg" %>
      </div>
    </div>
  </div>
</div>
<div class="steps">
  <div class="cards d-flex justify-content-around">
    <div class="number order1 text-white"><h2>1</h2></div>
    <div class="card text-center">
      <div class="card-image">
        <%= image_tag "user_profile.jpg" %>
      </div>
      <h3>Post your NPLs</h3>
      <p>Just a few basic information is required, our engine will do the rest and get all the relevant data automatically.</p>
    </div>
    <div class="number order2 text-white" ><h2>2</h2></div>
    <div class="card text-center">
      <div class="card-image">
        <%= image_tag "user_sell.jpg" %>
      </div>
      <h3>Hire a Due Diligence</h3>
      <p>With a Due Diligence, you will save time and money for your potential investors. Your NPLs will stand out in our plataform.</p>
    </div>
    <div class="number order3 text-white" ><h2>3</h2></div>
    <div class="card text-center">
      <div class="card-image">
        <%= image_tag "user_dashboard.jpg" %>
      </div>
      <h3>Receive bids</h3>
      <p>Investors will evaluate your NPLs and will submmit their bids. We will keep you informed of every bid you received.</p>
    </div>
    <div class="number order4 text-white" ><h2>4</h2></div>
    <div class="card text-center">
      <div class="card-image">
        <%= image_tag "auction.png" %>
      </div>
      <h3>Auction</h3>
      <p>The highest bid wins. Transfer Documents in exchange for the purchase price.<br> <br> </p>
    </div>
  </div>
</div>
  <div class="yield-description">
    <div class="container">
      <h2>What is Yield?</h2>
      <br>
      <p>Yield is an online marketplace which allows companies, banks and funds to sell their illiquid credit exposures and non-performing loans ("NPLs") on the market through its auction-based online transaction platform to specialized investors.</p>
    </div>
  </div>
<div class="steps text-center">
  <h3>Performance Highlights</h3>
  <div class="container">
    <div class="cards d-flex justify-content-around">
      <div class="card text-center">
         <h2> <%= number_to_currency(@npls_sold_sum / 1000000, unit: "R$ ",separator: ",", delimiter: ".") %> M </h2>
         <p>NPLs sold</p>
      </div>
      <div class="card text-center">
         <h2> <%= @npls_sold %></h2>
         <p> Succesful transactions <br>since inception</p>
      </div>
      <div class="card text-center">
         <h2> <%= @npls_available %></h2>
         <p> Number of current NPLs available</p>
      </div>
      <div class="card text-center">
         <h2> <%= @users_registered %> </h2>
         <p> Number of registered users <br> <br></p>
      </div>
    </div>
  </div>
</div>
</div>
