<div class="header-title">
  <h2>DEBTOR INFORMATION</h3>
</div>

<div class="container">
  <div class="page-content d-flex justify-content-between p-4">
    <%= link_to icon('fas', 'arrow-left'), npl_path(@npl), class: "arrow-back mr-3" %>
    <div class="debtor-info flex-grow-1">
      <h4 class="mt-1">BASIC INFORMATION</h4>
      <div class="personal-info debtor-info-card row justify-content-between text-center">
        <div class="col-xs-12 col-md-4">
          <div class="row justify-content-around">
            <div class="col">
              <h5>Name</h5> <p><%= capitalize(@npl.debtor_info&.nome) %></p>
            </div>
            <div class="col">
              <h5>Liveness</h5> <p><%= @npl.debtor_info.falecido ? "Deceased" : "Live" %></p>
            </div>
          </div>

          <div class="row justify-content-around">
            <div class="col">
              <h5>CPF</h5> <p><%= not_nil(@npl.debtor_info&.cpf) %></p>
            </div>
            <div class="col">
              <h5>CPF Status</h5> <p><%= capitalize(@npl.debtor_info&.situacaoCpf) %></p>
            </div>
          </div>

          <div class="row justify-content-around">
            <div class="col">
              <h5>Date of Birth</h5>
              <p><%= not_nil(@npl.debtor_info&.dataNascimento&.to_date&.strftime("%d/%m/%Y")) %></p>
            </div>
            <div class="col">
              <h5>Age</h5> <p><%= not_nil(@npl.debtor_info&.idade) %></p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <h5>Address</h5> <p><%= capitalize(@npl.debtor_info&.endereco&.logradouro) %>, <%= not_nil(@npl.debtor_info&.endereco&.numero) %>, <%= not_nil(@npl.debtor_info&.endereco&.complemento) %> - <%= capitalize(@npl.debtor_info&.endereco&.bairro) %> - <%= capitalize(@npl.debtor_info&.endereco&.municipio) %>/<%= not_nil(@npl.debtor_info&.endereco&.uf) %></p>
          
          <h5>Income Estimate</h5> <p><%= capitalize(@npl.debtor_info&.incomePrediction&.incomeInterval) %></p>
          
          <h5>Mothers Name</h5> <p><%= capitalize(@npl.debtor_info&.nomeMae) %></p>
          
        </div>
        <div class="col-xs-12 col-md-4">

          <h5>Telephone No.</h5>
          <% @npl.debtor_info&.telefones&.take(3)&.each do |phone| %>
            <p><%= not_nil(phone&.numero&.insert(2,' - ')) %></p>
          <% end %>

          <h5>Gender</h5>
          <p><%= not_nil(@npl.debtor_info&.sexo == "MASCULINO" ? "Male" : "Female") %></p>
        </div>
      </div>

      <h4>WORK HISTORY</h4>
      <div class="work-history debtor-info-card row">
        <div class="current_work col-xs-12 col-md-6">
          <h5 class="text-center">Current Experience</h5>
          <ul>
            <li><span class="company-info">Company Name :</span> <%= capitalize(@npl.debtor_info&.enderecoEmpregoRaisNovo&.razaoSocial) %></li>
            <li><span class="company-info">Location :</span> <%= capitalize(@npl.debtor_info&.enderecoEmpregoRaisNovo&.municipio)%>/<%= not_nil(@npl.debtor_info&.enderecoEmpregoRaisNovo&.uf) %></li>
            <li><span class="company-info">Industry :</span> <%= capitalize(@npl.debtor_info&.enderecoEmpregoRaisNovo&.ramoAtividade) %></li>
            <li><span class="company-info">Company Registry (CNPJ) :</span> <%= not_nil(@npl.debtor_info&.enderecoEmpregoRaisNovo&.cnpj) %></li>
            <li><span class="company-info">Description :</span> <%= capitalize(@npl.debtor_info&.enderecoEmpregoRaisNovo&.descricaoCnae) %></li>
            <li><span class="company-info">Employed For :</span> <%= not_nil(@npl.debtor_info&.historicoFuncional&.first&.numeroMesesEmpresa) %> Months</li>
          </ul>
        </div>
        <div class="past_work col-xs-12 col-md-6">
          <h5 class="text-center">Last Past Experience</h5>
          <ul>
            <li><span class="company-info">Company Name :</span> <%= capitalize(@npl.debtor_info&.historicoFuncional&.second&.razaoSocial) %></li>
            <li><span class="company-info">Company Registry (CNPJ) : <%= not_nil(@npl.debtor_info&.historicoFuncional&.second&.cnpj) %></span></li>
            <li><span class="company-info">Admission Date :</span> <%= not_nil(@npl.debtor_info&.historicoFuncional&.second&.dataAdmissao&.to_date&.strftime("%d/%m/%Y")) %></li>
            <li><span class="company-info">Termination Date :</span> <%= not_nil(@npl.debtor_info&.historicoFuncional&.second&.dataDesligamento&.to_date&.strftime("%d/%m/%Y")) %></li>
          </ul>
        </div>
      </div>

      <h4>LEGAL INFORMATION</h4>
      <div class="legal debtor-info-card row">
      <% if @npl.debtor_info&.processoJudicialTotalizadores&.quantidades.nil? %>
        <h5 class="no-legal my-3">No Lawsuits Registered</h5>
      <% else %>
          <div class="offset-md-3 flex-grow-1">
            <table class="legal-table">
              <tr>
                <th>Lawsuit Type</th>
                <th>Defendant</th>
                <th>Respondent</th>
                <th>Other Party</th>
              </tr>
              <% @npl.debtor_info.processoJudicialTotalizadores.quantidades&.each do |lawsuit| %>
                <tr>
                  <td class="lawsuit-type">
                    <% case lawsuit&.tipo %>
                    <% when "NUMERO DE PROCESSOS" %>
                      Total
                    <% when "CRIMINAL" %>
                      Criminal
                    <% when "TRIBUTARIO" %>
                      Tax
                    <% when "TRABALHISTA" %>
                      Labour
                    <% when "ELEITORAL" %>
                      Electoral
                    <% when "MILITAR" %>
                      Military
                    <% when "CIVEL / ADMINISTRATIVO" %>
                      Civil
                    <% end %>
                  </td>
                  <td><%= not_nil(lawsuit&.qtdPartePassiva)  %></td>
                  <td><%= not_nil(lawsuit&.qtdParteAtiva) %></td>
                  <td><%= not_nil(lawsuit&.qtdOutrasPartes) %></td>
                </tr>
              <% end %>
            </table>
          </div>
      <% end %>
      </div>
      
      <% if @npl.debtor_info&.cafir.nil? %>
      <% else %>
        <h4>RURAL PROPERTIES</h4>
        <h5 class="text-center">Total Properties Area - <span class="rural-area"><%= @npl.debtor_info&.cafir&.areaTotal %></span></h5>
        <div class="rural-table">
          <table>
            <tr>
              <th>Property Number</th>
              <th>Property Name</th>
              <th>City/State</th>
              <th>Property Area</th>
            </tr>
          <% @npl.debtor_info&.cafir&.imoveis&.each_with_index do |element, index| %>
            <tr>
              <td><%= index + 1 %></td>
              <td><%= capitalize(element&.municipio) %>/<%= not_nil(element&.uf) %></td>
              <td><%= capitalize(element&.nome) %></td>
              <td><%= not_nil(element&.area) %></td>
            </tr>
          <% end %>
          </table>
        </div>
      <% end %>

      <% if @npl.debtor_info&.imoveis.nil? %>
      <% else %>
        <h4>REAL ESTATE</h4>
        <div class="real-estate debtor-info-card d-flex justify-content-between flex-wrap">
          <% @npl.debtor_info&.imoveis&.each_with_index do |element, index| %>
          <div class="card building">
            <h5 class="text-center card-title">Real Estate #<%= index + 1 %></h5>
            <h5>City/State</h5>
            <p><%= capitalize(element&.endereco&.municipio) %>/<%= not_nil(element&.endereco&.uf) %></p>
            <h5>Address</h5>
            <p><%= capitalize(element&.endereco&.logradouro) %>, <%= capitalize(element&.endereco&.numero) %></p>
            <h5>Appraisal</h5>
            <p><%= number_to_currency(element&.valorAvaliacao&.to_i, unit:"R$", separator: ",", delimiter: ".") %></p>
          </div>
          <% end %>
        </div>
      <% end %>

      <% if @npl.debtor_info&.participacaoSocietariaRF.nil? %>
      <% else %>
        <h4>EQUITY INTEREST</h4>
        <div class="real-estate debtor-info-card d-flex justify-content-between flex-wrap">
          <% @npl.debtor_info&.participacaoSocietariaRF&.each_with_index do |element, index| %>
          <div class="card building">
            <h5 class="text-center card-title">Company #<%= index + 1 %></h5>
            <h5>Name</h5>
            <p><%= capitalize(element&.razaoSocial) %></p>
            <h5>CNPJ</h5>
            <p><%= not_nil(element&.cnpj) %></p>
            <h5>Share Capital</h5>
            <p><%= capitalize(number_to_currency(element&.capitalSocialEmpresa&.to_i, unit:"R$", separator: ",", delimiter: ".")) %>
          </div>
          <% end %>
        </div>
      <% end %>

      <h4>DATA UPDATE</h4>
      <div class="updates debtor-info-card">
        <div class="table-updates mx-3">
          <table class="text-center">
            <tr>
              <th></th>
              <th>Current Work</th>
              <th>Working History</th>
              <th>Relatives</th>
              <th>Real Estate</th>
              <th>Equity Interest</th>
            </tr>
            <tr>
              <td class="font-weight-bold">Date</td>
              <td><%= not_nil(@npl.debtor_info&._metadata&.pessoas&._metadata&.enderecoEmpregoRaisNovo&.processingTimestamp&.to_date&.strftime("%d/%m/%Y")) %></td>
              <td><%= not_nil(@npl.debtor_info&._metadata&.pessoas&._metadata&.historicoFuncional&.processingTimestamp&.to_date&.strftime("%d/%m/%Y")) %></td>
              <td><%= not_nil(@npl.debtor_info&._metadata&.pessoas&._metadata&.pessoas&.processingTimestamp&.to_date&.strftime("%d/%m/%Y")) %></td>
              <td><%= not_nil(@npl.debtor_info&._metadata&.pessoas&._metadata&.imoveis&.processingTimestamp&.to_date&.strftime("%d/%m/%Y")) %></td>
              <td><%= not_nil(@npl.debtor_info&._metadata&.pessoas&._metadata&.participacaoSocietaria&.processingTimestamp&.to_date&.strftime("%d/%m/%Y")) %></td>
            </tr>
            <tr>
              <td class="font-weight-bold">Public Database</td>
              <td><em><%= not_nil(@npl.debtor_info&._metadata&.pessoas&._metadata&.enderecoEmpregoRaisNovo&.source&.first) %></em></td>
              <td><em><%= not_nil(@npl.debtor_info&._metadata&.pessoas&._metadata&.historicoFuncional&.source&.first) %></em></td>
              <td><em><%= capitalize(@npl.debtor_info&._metadata&.pessoas&._metadata&.pessoas&.source&.first) %></em></td>
              <td><em><%= not_nil(@npl.debtor_info&._metadata&.pessoas&._metadata&.imoveis&.source&.first) %></em></td>
              <td><em><%= not_nil(@npl.debtor_info&._metadata&.pessoas&._metadata&.participacaoSocietaria&.source&.first) %></em></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

