<div class="container">
  <div class="npl-new-content">
    <h2>New Non-Performing Loan</h2>
    <p>NPL OFFERED BY: <span class="user-offer"> <%= current_user.name.upcase %> </span> </p>
    <%= simple_form_for @npl do |f| %>
    <%= f.input :name, label: 'Stressed Credit Name' %>
    <%= f.input :npl_type, label: 'Stressed Asset Type', collection: Npl.npl_type_names  %>
    <%= f.input :book_value, label: 'Book Value (BRL)' %>
    <%= f.input :debtor, label: 'Debtor Name' %>
    <%= f.input :maturity_date, order: [:day, :month, :year]%>
    <%= f.input :min_value, label: 'Minimum Bid Value' %>
    <%= f.input :collateral_description, collection: Npl.collateral_names %>
    <%= f.input :auction_date, order: [:day, :month, :year]%>
    <%= f.input :document %>
    <%= f.input :document_cache, as: :hidden %>
    <%= f.submit "ADD NPL", class: "btn btn-primary btn-block btn-lg" %>
    <% end %>
  </div>
</div>
