<div class="container">
  <h1><%= @npl.name %></h1>
  <p> Tipo do ativo - <%= @npl.npl_type %></p>
  <p> Valor de face - <%= @npl.book_value %></p>
  <p> Devedor - <%= @npl.debtor %></p>
  <p> Vencimento - <%= @npl.maturity_date %></p>
  <p> Garantia - <%= @npl.collateral_description %></p>
  <p> Valor mínimo - <%= @npl.min_value %></p>
  <br>
  <p>Documentos</p>

  <% if @npl.document.present? %>
    <%= cl_image_tag @npl.document, :border=>"2px_solid_rgb:6f6b6b", :effect=>"grayscale", :quality=>47, :width=>200, :crop=>"scale" %>
  <% end %>

  <p>Cedido por <%= @npl.user.name %></p>
  <%= link_to "Voltar às Ofertas em Aberto", npls_path, class: "btn btn-primary"%>
  <%= link_to "Fazer um Bid por este NPL", new_npl_bid_path(@npl), class: "btn btn-primary"%>
  <%= link_to "Ver todos os Bids deste NPL", npl_bids_path(@npl), class: "btn btn-primary"%>
</div>
