 <div class="npl-show-mab">
 <div class="container">
  <div class="npl-show-content d-flex justify-content-bewtween">
    <%= link_to icon('fas', 'arrow-left'), npls_path, class: "arrow-back mr-3" %>
    <div class="flex-grow-1 d-flex justify-content-around mr-auto">
      <div class="npl-show-2">

        <h3><%= @npl.name %></h3>

        <table class="table table-striped">
          <tbody>
            <tr>
              <th scope="row">Asset Type</th>
              <td><%= @npl.npl_type %></td>
            </tr>
            <tr>
              <th scope="row">Book Value</th>
              <td><%= number_to_currency(@npl.book_value, unit:"R$", separator: ",", delimiter: ".")%></td>
            </tr>
            <tr>
              <th scope="row">Debtor</th>
              <td><%= @npl.debtor %></td>
            </tr>
            <tr>
              <th scope="row">Debtor CPF or CNPJ</th>
              <td>
                <% if @npl.debtor_cpf_cnpj.size > 11 %>
                  <%= CNPJ.new(@npl.debtor_cpf_cnpj.to_s).formatted %>
                <% else %>
                  <%= CPF.new(@npl.debtor_cpf_cnpj.to_s).formatted %>
                <% end %>
              </td>
            </tr>
            <tr>
              <th scope="row">Maturity Date</th>
              <td><%= @npl.maturity_date.strftime("%d/%m/%Y") %></td>
            </tr>
            <tr>
              <th scope="row">Collateral Description</th>
              <td><%= @npl.collateral_description %></td>
            </tr>
            <tr>
              <th scope="row">Minimum Value</th>
              <td><%=  number_to_currency(@npl.min_value, unit:"R$", separator: ",", delimiter: ".")%></td>
            </tr>
            <tr>
              <th scope="row">Auction Date</th>
              <td><%= @npl.auction_date.strftime("%d/%m/%Y") %></td>
            </tr>
          </tbody>
        </table>

        <br>
        <p><strong>Documents</strong></p>

        <% if @npl.document.present? %>
          <div class="document">
            <%= link_to @npl.document.url, target: '_blank' do%>
              <%=  cl_image_tag @npl.document.url(:thumnail), :quality=>47, :width=>100, :crop=>"scale" %>
            <% end %>
          </div>
        <% end %>

        <p class="my-4">Assigned by <strong><%= @npl.user.name %></strong></p>

        <%= link_to "Request Additional Information", npl_additional_info_path(@npl) %>

        <% if current_user != @npl.user %>

          <div id="new-bid-form">
            <%= simple_form_for [@npl, @bid] do |f| %>
            <%= f.input :value, label:false, placeholder: "Enter your Bid", required:false %>
            <%= f.submit "ADD A BID", class: "btn btn-npl btn-block my-1", data: { confirm: 'Please confirm your bid' } %>
            <% end %>
          </div>

        <% elsif @npl.due_diligence %>

          <% if @dd.finished %>
            <%= link_to "CHECK DUE-DILIGENCE REPORT", npl_due_diligence_finish_path(@npl, @dd), class: "btn btn-npl btn-block dd-btn my-1" %>
          <% else %>
            <%= link_to "CHECK DUE-DILIGENCE", npl_due_diligence_path(@npl, @dd), class: "btn btn-npl btn-block dd-btn my-1" %>
          <% end %>

        <% else %>
          <%= link_to "Subscribe to Due-Diligence Module", new_npl_due_diligence_path(@npl), class: "btn btn-npl btn-block dd-btn my-1" %>
        <% end %>

      </div>

      <% if current_user == @npl.user && @npl.bids.present?%>
        <div id="separator", class="align-self-center"></div>
        <div class="bids-made">
          <h3>Bids already received</h3>
          <ul class="list-group">
            <% @npl.bids.order(value: :desc).each do |bid| %>
              <% unless @npl.auctioned && bid.winner %>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <%= bid.user.name %>
                <%= link_to number_to_currency(bid.value, unit:"R$", separator: ",", delimiter: "."), bid_path(bid) %>
              </li>
              <% else %>
                <h3 class="npl-aucitoned"> NPL AUCTIONED!</h3>
                <div class="text-center">
                  <h4>Winner</h4>
                </div>
                <li class="list-group-item d-flex justify-content-between align-items-center bid-winner">
                  <%= bid.user.name %>
                  <%= link_to number_to_currency(bid.value, unit:"R$", separator: ",", delimiter: "."), bid_path(bid) %>
                </li>
              <% end %>
            <% end %>
          </ul>
          <%= button_to "RUN THE AUCTION", npl_run_auction_path(@npl), class: "btn btn-npl btn-block my-4" %>
        </div>

        <% elsif @current_user_bids.present? %>
        <div id="separator", class="align-self-center"></div>
        <div class="bids-made">
          <h3> Your Bids on this NPL</h3>
          <ul class="list-group">
            <% @current_user_bids.order(value: :desc).each do |bid| %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <%= bid.user.name %>
              <%= link_to number_to_currency(bid.value, unit:"R$", separator: ",", delimiter: "."), bid_path(bid) %>
            </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>

