 <div class="npl-show-mab">
 <div class="container">
  <div class="npl-show-content d-flex justify-content-bewtween">
    <%= link_to icon('fas', 'arrow-left'), npls_path, class: "arrow-back mr-3" %>
    <div class="flex-grow-1 d-flex justify-content-around mr-auto">
      <div class="npl-show-2">

        <h3><%= @npl.name %></h3>
        <p> <strong>Asset Type - </strong><%= @npl.npl_type %></p>
        <p> <strong>Book Value - </strong><%= number_to_currency(@npl.book_value, unit:"R$", separator: ",", delimiter: ".")%></p>
        <p> <strong>Debtor - </strong><%= @npl.debtor %></p>
        <p> <strong>Maturity Date - </strong><%= @npl.maturity_date.strftime("%d/%m/%Y") %></p>
        <p> <strong>Collateral Description </strong>- <%= @npl.collateral_description %></p>
        <p> <strong>Minimum Value </strong> - <%=  number_to_currency(@npl.min_value, unit:"R$", separator: ",", delimiter: ".")%></p>
        <p> <strong>Auction Date - </strong><%= @npl.auction_date.strftime("%d/%m/%Y") %></p>
        <br>
        <p><strong>Documents</strong></p>

        <% if @npl.document.present? %>
          <div class="document">
            <%= link_to @npl.document.url do%>
              <%=  cl_image_tag @npl.document.url(:thumnail), :quality=>47, :width=>100, :crop=>"scale" %>
            <% end %>
          </div>
        <% end %>

        <p>Assigned by <strong><%= @npl.user.name %></strong></p>

        <% if current_user != @npl.user %>

          <div id="new-bid-form">
            <%= simple_form_for [@npl, @bid] do |f| %>
            <%= f.input :value, label:false, placeholder: "Enter your Bid", required:false %>
            <%= f.submit "ADD A BID", class: "btn btn-primary btn-block my-1", data: { confirm: 'Please confirm your bid' } %>
            <% end %>
          </div>

        <% else %>
          <%= link_to "Subscribe to Due-Diligence Module", new_npl_due_diligence_path(@npl), class: "btn btn-primary btn-block dd-btn my-1" %>
        <% end %>

      </div>

      <% if current_user == @npl.user && @npl.bids.present?%>
        <div id="separator", class="align-self-center"></div>
        <div class="bids-made">
          <h3>Bids already received</h3>
          <ul class="list-group">
            <% @npl.bids.order(value: :desc).each do |bid| %>
              <% unless @npl.auctioned && bid.winner %>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <%= bid.user.name %>
                <%= link_to number_to_currency(bid.value, unit:"R$", separator: ",", delimiter: "."), bid_path(bid) %>
              </li>
              <% else %>
                <h3 class="npl-aucitoned"> NPL AUCTIONED!</h3>
                <div class="text-center">
                  <h4>Winner</h4>
                </div>
                <li class="list-group-item d-flex justify-content-between align-items-center bid-winner">
                  <%= bid.user.name %>
                  <%= link_to number_to_currency(bid.value, unit:"R$", separator: ",", delimiter: "."), bid_path(bid) %>
                </li>
              <% end %>
            <% end %>
          </ul>
          <%= button_to "Run the auction", npl_run_auction_path(@npl), class: "btn btn-primary btn-block my-4" %>
        </div>

        <% elsif @current_user_bids.present? %>
        <div id="separator", class="align-self-center"></div>
        <div class="bids-made">
          <h3> Your Bids on this NPL</h3>
          <ul class="list-group">
            <% @current_user_bids.order(value: :desc).each do |bid| %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <%= bid.user.name %>
              <%= link_to number_to_currency(bid.value, unit:"R$", separator: ",", delimiter: "."), bid_path(bid) %>
            </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>


